/* CSS BY KEVIN FOWLER */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-main: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font-main);
    background-color: var(--linen);
    color: var(--dark-charcoal);
    line-height: 1.6;
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
}

/* HEADER */
header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header .logo {
    width: 150px;
    display: block;
    margin: 20px auto 10px auto;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--soft-white);
}

header p {
    font-size: 1em;
    font-style: italic;
    margin-bottom: 20px;
    color: var(--soft-white);
}

/*NAVIGATION BAR */
header nav {
    background-color: var(--champagne-gold);
    width: 100%;
}

header nav .nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
}

header nav a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold
}

header nav a:hover {
    text-decoration: underline;
}

/* DIVIDER */
.divider {
    width: 100%;
    height: 2px;
    background-color: var(--champagne-gold);
    margin: 20px 0 20px 0;
}

/* ABOUT SECTION  */
.about {
    padding: 10px 10px;
    margin: 0 auto;
}

.about h2 {
    color: var(--midnight-blue);
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

/* OFFERINGS SECTION */
.offerings-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.offering {
    background: var(--olive-green);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.offering h3 {
    color: var(--linen);
    font-size: 1.5em;
    margin: 5px 0 10px 0;
    text-align: left;
}

.offering p {
    color: var(--linen);
    font-size: 1em;
    text-align: left;
}

/* GALLERY SECTION */
.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.gallery-item {
    background: var(--soft-white);
    border-radius: 10px;
    padding: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display:block;
}

.gallery-item p {
    margin-top: 10px;
    font-size: 1em;
    color: var(--dark-charcoal);
    text-align: center;
    font-style: italic;
}

button {
    display: block;
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    background-color: var(--olive-green);
    color: var(--linen);
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-style: bold;
    cursor: pointer;
}