/* CSS BY KEVIN FOWLER */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;

    --font-main: 'Playfair Display', serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--font-main);
    background-color: var(--linen);
    color: var(--dark-charcoal);
    line-height: 1.6;
    font-size: 16px;
    margin: 0 auto;
}

/* DIVIDER */
.divider {
    width: 100%;
    max-width: 1200px;
    height: 2px;
    background-color: var(--champagne-gold);
    margin: 10px auto 10px auto;
}

/* SECTION */
section {
    padding: 10px;
}

/* HEADER */
#header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

#header .logo {
    width: 150px;
    display: block;
    margin: 0 auto 10px auto;
}

#header h1 {
    font-size: 3.3em;
    font-weight: 700;
    padding-bottom: 10px;
    color: var(--soft-white);
}

#header p {
    font-size: 1em;
    font-style: italic;
    padding-bottom: 20px;
    color: var(--soft-white);
}

/*NAVIGATION BAR */
#nav {
    background-color: var(--champagne-gold);
    width: 100%;
}

#nav .nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

#nav a {
    font-family: var(--font-main);
    color: var(--midnight-blue);
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

#nav a:hover {
    text-decoration: underline;
}

/* ABOUT SECTION  */
#about {
    padding: 10px 10px;
    margin: 0 auto;
    width: 80% auto;
}

#about h2 {
    font-family: var(--font-main);
    color: var(--midnight-blue);
    font-size: 2em;
    font-weight: 400;
    text-align: left;
    margin: 20px 0 0 0;
}

/* OFFERINGS SECTION */
#offerings {
    padding: 10px 10px;
    margin: 0 auto;
    width: 80% auto;
}

#offerings h2 {
    font-family: var(--font-main);
    color: var(--midnight-blue);
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: left;
}

.offerings-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.offering {
    background: var(--olive-green);
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.offering h3 {
    color: var(--linen);
    font-size: 1.5em;
    font-weight: 700;
    padding: 15px 15px 0 15px;
}

.offering p {
    color: var(--linen);
    font-size: 1em;
    padding: 0 15px 15px 15px;
    text-align: left;
}

.offering ul {
    color: var(--linen);
    font-size: 1em;
    padding-left: 1.5em;
    text-indent: 1em;
    text-align: left;
}

/* GALLERY SECTION */
#gallery {
    padding: 10px auto 0 auto;
    margin: 0 auto;
    width: 80% auto;
}

#gallery h2 {
    color: var(--midnight-blue);
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 5px;
    text-align: left;
}

#gallery p {
  color: var(--dark-charcoal);
  font-size: 1em;
  padding-bottom: 10px;
  width: 90%;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.gallery-item {
    background: var(--soft-white);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display:block;
    border-radius: 10px 10px 0 0;
}

.gallery-item p {
    margin: 10px auto 10px auto;
    font-size: 1em;
    line-height: 1.6;
    max-width: 85%;
    color: var(--dark-charcoal);
    text-align: center;
    font-style: italic;
}

/* BUTTON */
button {
    display: block;
    align-items: center;
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    background-color: var(--olive-green);
    color: var(--linen);
    border: none;
    border-radius: 10px;
    font-family: var(--font-main);
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: var(--midnight-blue);
    color: var(--linen);
}

/*FOOTER */
footer {
    background-color: var(--midnight-blue);
    margin-top: 20px;
    width: 100%;
}

footer address {
    color: var(--soft-white);
    text-align: center;
    padding: 40px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}

footer a {
    color: var(--champagne-gold);
    text-decoration: none;
    font-weight: 700;
    text-align: center;

}

footer address a[href="mailto:hello@fieldandfeast.com"]:hover {
  text-decoration: underline;
  color: var(--champagne-gold);
}

.social-media {
    padding-bottom: 20px;
    text-align: center;
}

.social-media a[href*="https://www.instagram.com"]:hover {
  text-decoration: underline;
  color: var(--champagne-gold);
}

.social-media a[href*="https://www.facebook.com"]:hover {
  text-decoration: underline;
  color: var(--champagne-gold);
}

/* MEDIA QUERY MEDIUM */
@media (min-width: 600px) {
    #about, #offerings, #gallery {
        width: 95%;
        margin: 0 auto;
    }

    .offerings-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .offerings-container .offering:last-child {
       grid-column: span 2;
    }

    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .divider {
        width: 95%;
        max-width: 1200px;
    }
}

/* MEDIA QUERY LARGE */
@media (min-width: 900px) {
    #about, #offerings, #gallery {
        max-width: 85%;
    }

    .offerings-container {
        grid-template-columns: repeat(2, 2, 1fr);
    }

    .offerings-container .offering:last-child {
        grid-column: span 2;
    }

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .divider {
        width: 85%;
        max-width: 1200px;
    }
}

/* MEDIA QUERY X-LARGE */
@media (min-width: 1200px) {
    #about, #offerings, #gallery {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .divider {
        width: 80%;
        max-width: 1200px;
    }
}

/*END*/